@import '_reset';
@import '_variables';
@import '_typography';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $body-bg;
  color: $base-font-color;
  font-family: $base-font-stack;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;
  position: relative;

  @neat-outer-container;
}

.spinner-container {
  background: #fff;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  width: 100%;
  z-index: 100;
}

.spinner {
  background: url('../img/spinner.gif') center center no-repeat transparent;
  display: block;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

.input-container {
  margin: 2em 0;
}

.input-btn {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 10px 0;
}

input, label {
  cursor: pointer;
  font: inherit;
}

.locales-container {
  background: #eee;
  clear: fix;
}

.locales-header {
  padding: 20px 0;
}

.locales-header h4 {
  margin: 0;
}

.property {
  @neat-span-columns 4;
}

.locales {
  @neat-fill-parent;
}

.locale-block {
  clear: fix;
  margin-bottom: 20px;
}

.locale-property {
  @neat-span-columns 3;
}

.locale-values {
  @neat-span-columns 9;
}

.locale-value-block {
  background: $blue;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.85em;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.locale-name {
  display: inline-block;
}

.locale-value {
  display: inline-block;
}